/*
Silver team: Shayla Bradley, Patrick Ellis, Abigail Klein, Yawa Hallo
Date: 9-03-23
CSD 460: Assignment 6
Footer

Color Theme:
#004058
#AA6D23
#FFF5D3
 */
html{/*apply font to entire html page*/
    font-family: 'Poppins', sans-serif;
}
a{/*remove lines and decorations from all links and set color to #FFF5D3*/
    text-decoration: none;
    color: #FFF5D3;
    cursor: pointer;
}
a:visited{/*ensure visited links remain #FFF5D3*/
    color: #FFF5D3;
}
h1{/*headers set to be display font*/
    font-family: "p22-fllw-eaglefeather", sans-serif;
}
* {/*set box-sizing to border-box so that padding and border are included in elements' total widths and heights.*/
    box-sizing: border-box;
    margin: 0;
}

.footer{
	display: flex;
    width: 100%;
    background: #AA6D23;
    position: static;
    bottom: 0;
    padding: 2%;
    font-size: 12px;
}
.col1, .col3, .col4, .col5{
    width: 21%;
}
.col1{
    text-align: right;
}
.col2{
    width: 26%;
    color: #004058;
}
.col3 a:hover, .col4 a:hover, .col5 a:hover{
    text-decoration: underline;
}

#footImage{
    width: 38%;
}
ul{
    list-style-type: none;
    line-height: 200%;
}




/* For tablets: */
@media only screen and (max-width: 600px) {

	.footer{flex-direction: column};
}

/* For desktop: */
@media only screen and (max-width: 768px) {
  

}
