/*
Color Theme:
#004058
#AA6D23
#FFF5D3
 */ 
@charset "ISO-8859-1";


a{/*remove lines and decorations from all links and set color to #FFF5D3*/
    text-decoration: none;
    cursor: pointer;
}

h1{/*headers set to be display font*/
    font-family: "p22-fllw-eaglefeather", sans-serif;
    color: #AA6D23;
    padding:50px;
}

* {/*set box-sizing to border-box so that padding and border are included in elements' total widths and heights.*/
    box-sizing: border-box;
}
.flexContainer{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.spacer{
	height:100px;
}
.loginContainer{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    z-index:auto;
    width:100%;
    flex-direction:column;
    align-items:center;

}
.link_register{
	color:#004058 !important;
}
.link_register:hover{
	text-decoration: underline;
}
.link_reset_password{
	color:#004058 !important;
}
.link_reset_password:hover{
	text-decoration: underline;
}
#no_account{
	padding:20px 0;
}
input{
	width: 300px;
	height: 40px;
}
#button{
	width: 300px;
	height: 40px;
}
.psw_change {font-size: 12px;
font-style: normal;}

.password_container{
	position: relative;
    display: flex;
    flex-wrap:wrap;
    z-index:auto;
    height:80%;
    flex-direction:column;
    align-items:center;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	height: 300px;
}
#login_error_message{
	color:red;
	font-style:italic;
}
#login_link{
	color:blue;
}
#failpassword{color:red;
}

.error_login{
	color: red;
	text-align: center;
}
#logo{
	max-width:200px;
}
.login_header_img{
	max-width:100%;
	height:auto;
}