/*
Silver team: Shayla Bradley, Patrick Ellis, Abigail Klein, Yawa Hallo
Date: 9-03-23
CSD 460: Assignment 6
Change Password Page

Color Theme:
#004058
#AA6D23
#FFF5D3
 */ 
@charset "ISO-8859-1";

body{
	background-image: url("../media/loginBackground.jpg");
	background-size: cover; /* or 'contain' for different scaling options */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  height: 100vh; /* Sets the body height to 100% of the viewport height */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}
a{/*remove lines and decorations from all links and set color to #FFF5D3*/
    text-decoration: none;
    cursor: pointer;
}


h1{/*headers set to be display font*/
    font-family: "p22-fllw-eaglefeather", sans-serif;
    color: #FFF5D3;
    padding-top:20px;
    padding-bottom:20px; 
    text-align:center;
}

* {/*set box-sizing to border-box so that padding and border are included in elements' total widths and heights.*/
    box-sizing: border-box;
}
.flexContainer{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.spacer{
	height:100px;
}
.passContainer{
    width:400px;
	background: rgba(170, 109, 35, 0.8);
	border: 1px solid rgba(170, 109, 35, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-wrap:wrap;
    z-index:auto;
    margin: 20px 0 25vh 0;
    padding:20px;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.link_register{
	color:#AA6D23 !important;
}
.link_register:hover{
	text-decoration: underline;
}
.link_reset_password{
	color:#AA6D23 !important;
}
.link_reset_password:hover{
	text-decoration: underline;
}
#no_account{
	padding:20px 0;
}
input{
	width: 300px;
	height: 40px;
}
.form_button {
    min-width: 300px;
    padding: 1rem 2rem;
    margin-top:2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #FFF5D3;
    transition:0.5s;
}

.form_button:hover {
    background: #004058;
}
.form_button_false{
	width: 300px;
    padding: 1rem 2rem;
    margin-top:2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #6e6e6e;
    transition:0.5s;
}
.psw_change {font-size: 12px;
font-style: normal;}

.password_container{
	position: relative;
    display: flex;
    flex-wrap:wrap;
    z-index:auto;
    flex-direction:column;
    align-items:center;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	height: 300px;
	padding:0 20px;
}
#login_error_message{
	color:red;
	font-style:italic;
}
#login_link{
	color:#004058;
}
#failpassword{color:red;
}

.error_login{
	color: red;
	text-align: center;
}

#logo{
	max-width:200px;
}
.confirm_reservation{
	display:flex;
	text-align:center;
	justify-content:center;
}
.form_message--error{
	color:#fadfc2;
	font-style:italic;
	padding-top:5px;
	font-size:12px;
}


