/*
Silver team: Shayla Bradley, Patrick Ellis, Abigail Klein, Yawa Hallo
Date: 9-03-23
CSD 460
Reservation Page

Color Theme:
#004058
#AA6D23
#FFF5D3
 */ 

/* reservation.css */
html{
	background-color:#FFF5D3;
}

.flexContainer{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.spacer{
	height:100px;
}
#bottom{
	min-height:100vh;
	width:100%;
	max-width:100%;
	}
.containContainer{
	width:100%;
}

#logo {
    text-align: center;
    left: 50%;
}

h1 {
    /* headers set to be display font */
    font-family: "p22-fllw-eaglefeather", sans-serif;
    color: #AA6D23;
    padding: 50px;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
    font-size:50px;
}


/* Email input field. */
#email {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Input fields. */
#checkin,
#checkout, #roomSize, #numGuests {
    width: 100%;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
label{
	color:#004058;
	font-weight:500;
}

/* Room size dropdown. */
#roomSize {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit button. */
.reservation_form input[type="submit"] {
    min-width: 100%;
    padding: 1rem 2rem;
    margin-top:2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #AA6D23;
    transition:0.5s;
}

.reservation_form input[type="submit"]:hover {
     background: #004058;
}

/* Form container. */
.reservation_form {
    /*width: 80%;*/
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:#FFF5D3;
    /*border: 1px solid #ccc/
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);*/
}

/* Center the form. */
.reservation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Adjustments for larger screens. */
@media (min-width: 768px) {
    .reservation_form {
        width: 60%;
    }
}
