/*
Silver team: Shayla Bradley, Patrick Ellis, Abigail Klein, Yawa Hallo
Date: 9-03-23
CSD 460: Assignment 6
Login Page

Color Theme:
#004058
#AA6D23
#FFF5D3
 */ 
@charset "ISO-8859-1";


a{/*remove lines and decorations from all links and set color to #FFF5D3*/
    text-decoration: none;
    cursor: pointer;
}

h1{/*headers set to be display font*/
    font-family: "p22-fllw-eaglefeather", sans-serif;
    color: #AA6D23;
    padding-top:80px;
    padding-bottom:20px;
}

* {/*set box-sizing to border-box so that padding and border are included in elements' total widths and heights.*/
    box-sizing: border-box;
}
.flexContainer{
	display:flex;
	flex-direction:column;
	align-items:center;
	
}

.spacer{
	min-height:calc(100vh - 655px);
	width:100%;
	max-width:100%;
	background-color:#FFF5D3;
	}
.whiteSpacer{
	display:none;
}

.search_form{
	min-width: 200px;
	width: 80%;
	max-width: 500px;
	text-align:center;
}

.container_form{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    z-index:auto;
    width:100%;
    max-width:100%;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align:center;
    margin-top:40px;
    padding-bottom:60px;
}

.form_message--error{
	color:red;
	font-style:italic;
	padding-bottom: 10px;
	font-size: 14px;
	text-align:left;
	
}

/*Form*/
.form_input,
.form_button {
	font-family: 'Poppins', sans-serif;
    font: 500 1rem;
    
}
input{
	min-width: 100%;
	height: 50px;
	font-size:16px;
}
#button{
	min-width: 100%;
	height: 40px;
}
.form_title {
    margin-bottom: 2rem;
    text-align: center;
    font-size:50px;
}

.form_input {
    display: block;
    min-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
    border-color: #009579;
    background: #ffffff;
}

.form_message--error {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
    font-size: 18px;
    color: #cc3333;
}

.form_input-terms {
	margin-top: 0.5rem;
    font-size: 0.85rem;
}

.form_button {
    min-width: 100%;
    padding: 1rem 2rem;
    margin-top:2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #AA6D23;
    transition:0.5s;
}

.form_button:hover {
    background: #004058;
}
.form_button_false{
	min-width: 100%;
    padding: 1rem 2rem;
    margin-top:2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #6e6e6e;
    transition:0.5s;
}

.form_text {
    text-align: center;
}

.form_link {
    color: #252c6a;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*Search Output - the output after clicking the submit button on form*/
.printArea{
	display:flex;
	flex-direction:column;
	align-items: center;
	min-height:50vh;
	width:100%;
	background-color: white;
}
.printAreaHide{
	display:none;
}
.noResults{
	text-align:center;
	padding-top:3rem;
}
#noResultsLink{
	color:#AA6D23;
}
#noResultsLink:visited{
	color:#AA6D23;
}
#noResultsLink:hover{
	text-decoration:underline;
}
.noResultsBold{
	font-weight:700;
}

#searchOutput{
	padding-bottom:80px;
}
.resSummary{
	padding-top:35px;
	padding-bottom:20px;
	color: #004058;
	text-align:center;
}
.rowName{
	font-weight:bold;
	color: #AA6D23;
}


@media only screen and (max-width: 600px) {
	.form_title {
    font-size:40px;
	}
	.form_message--error {
    font-size: 	21px;
	}
	.form_input{
		height:60px;
	}
	form p{
		font-size:21px;
	}
	input{
		font-size:18px;
	}
}

